
.ImgPlayList {
  width: 200px;
  height: 200px;
  margin: 0px 0px 10px 0px;
}
.NamePlayList {
  color: white;
  font-weight: 700;
  font-size: 17px;
}
.number.of.tracks {
  color: #c9c9c9;
}

.PlayListIMG {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 0px 20px 0px;
  height: 255px;
}
.TitlePlayList {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.PlayListCenterSub {
  width: 200px;
  display: flex;
  flex-direction: column;
}
