.AddPostMainDivCom {
    width: 100%;
}

.UserAvatarAddPostCom {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.InputWithAvatarFieldCom {
    width: 380px;
    padding: 10px 10px;
    font-size: 15px;
    color: rgb(167, 167, 167);
}

.AddPostIconsCom {
    width: 30px;
    height: 20px;
    margin-top: 12px;
}